@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Diplomata+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    min-height:30vh;
    justify-content: center;
    align-items: center;
}

body{
    background-color:rgba(0,0,0,0.99)
}
header h2{
    padding:2rem;
}
#logo{
  font-family: 'Diplomata SC', cursive;
  text-decoration: none;
  color:crimson;
}

.search-form{
    padding: 2rem;
    display:flex;
}

.search-form input{
    font-size:2rem;
    padding:0.5rem;
    width: 100%;
    border: none;
    border:2px solid rgb(74,68,131)
}

.search-form button{
   border:none;
   padding:0.5rem;
   font-size:1rem;
   background-color:crimson;
   cursor:pointer;
   color:#fff;

}

.gallery-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:crimson;
    padding:0.5rem 0rem;
    font-weight: bold;
}

.gallery-info a{
    color:#fff;
    text-decoration:none;
    background-color: crimson;
    padding:0.5rem 0.5rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    padding:2rem 0rem;
    width: 80%;
    margin:auto;
    row-gap:5rem;
    column-gap:3rem;

}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nav-button{
    min-height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    padding:1rem 3rem;
    background-color:crimson;
    color:#fff;
    border:none;
    font-size:1.2rem;
    cursor: pointer;
}